@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*общие*/
body {
    height: 100%;
    font: 12px Tahoma, sans-serif;
    background-color: #ffffff;
    margin: 0;
}

p {
    margin: 20px 0;
}

/*общие*/

/*шапка*/
header {
    background: #fff;
}

.header {
    background-color: #ffffff;
    position: relative;
    width: 81.2%;
    height: 57px;
    margin: auto;
}

.box-filter {
    position: absolute;
    width: 40px;
    height: 45px;
    cursor: pointer;
}

.icon-bars {
    position: absolute;
    margin-top: 4px;
    margin-right: 10px;
    font-size: 32px;
    color: #3C3F41;
}

.icon-bars:hover {
    color: #6D7174;
}

.box-in {
    position: absolute;
    top: 12px;
    width: 45px;
    height: 45px;
    right: 0;
    text-align: right;
    cursor: pointer;
}

.icon-in {
    position: relative;
    font-size: 25px;
    margin-top: 12px;
    color: #3C3F41;
    z-index: 1;
}

.name {
    color: #3C3F41;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    float: right;
    font-size: 16px;
    margin: 18px 65px 20px 20px;
    cursor: default;
}

.icon-in:hover {
    color: #6D7174;
}

.logo-black {
    position: absolute;
    top: 10px;
    left: 40px;
}

/*шапка*/

/*меню тегов*/
header .tags {
    width: 100%;
    text-align: center;
    background: #3C3F41;
    float: left; /* чтоб высота родителя была с учетом плавающих потомков */
}

header .tags li:hover {
    transition: background-color .7s ease;
    background-color: #ffffff;
}

header .tags li:hover a {
    transition: background-color .7s ease;
    color: #3C3F41;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

ul li {
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
}

ul a {
    color: #ffffff;
}

/*меню тегов*/

/*фиксируем шапку*/
.fixed {
    background: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}

/*фиксируем шапку*/

.filter-page {
    margin-top: 123px;
    display: none;
}

/*редактирование новости*/
.edit-page {
    margin-top: 123px;
    display: none;
}

/*редактирование новости*/

/*добавление новости*/
.add-page {
    margin-top: 123px;
    display: none;
}

.form {
    position: relative;
    background: #ffffff;
    max-width: 560px;
    margin: 0 auto 30px;
    padding: 20px 45px 45px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}

.form input, textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #ededed;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 1px;
}

.form .add-photo {
    border: 0;
    background: #FFFFFF;
}

.form p {
    text-align: left;
    font: 14px 'Roboto', sans-serif;
    color: #3C3F41;
}

.form h2 {
    font: 20px 'Oswald', sans-serif;
    color: #3C3F41;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3C3F41;
    border: 0;
    padding: 10px;
    color: #ebebeb;
    font-size: 14px;
    cursor: pointer;
    width: 30%;
}

.form button:hover {
    transition: background-color .4s ease;
    background: #e1e1e1;
    color: #3C3F41;
}

/*добавление новости*/

/*детальный просмотр новости*/
.detail-view {
    margin: 147px auto 90px auto;
    width: 70%;
    display: none;
}

.detail-view h1 {
    text-align: justify;
}

.author-dw {
    display: inline-block;
    padding-right: 10px;
    color: #6D7174;
    margin: 0 0 10px 0;
}

time {
    color: #6D7174;
}

hr {
    background-color: #d9e1e3;
    border: none;
    height: 1px;
    margin: 0 0 20px;
}

.detail-view .article-list-item-img {
    width: 100%;
}

.content-dw, .summary-dw {
    font-size: 1.8em;
    font-family: "PT Sans regular", Helvetica, Roboto, Arial, sans-serif;
    line-height: 1.25;
    text-align: justify;
}

.tag_list {
    float: left;
}

.tag_list a {
    display: inline-block;
    margin: 0 10px 10px 0;
    vertical-align: top;
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    /*color: #272c2f;*/
    font-size: 1.2em;
    cursor: pointer;
}

.tag_list a:hover, .remove:hover, .edit:hover {
    color: #6D7174;
    border-color: #3C3F41;
}

.edit, .remove {
    float: right;
    margin-left: 10px;
    text-transform: uppercase;
    background: none;
    outline: 0;
    border: 1px solid #e5e5e5;
    padding: 7px 10px;
    cursor: pointer;
}

.buttons-dw {
    display: none;
    cursor: pointer;
}

/*детальный просмотр новости*/

/*контент*/
.feed {
    margin-top: 93px;
}

.content {
    position: relative;
    width: 90%;
    display: inline-block;
}

.content .text {

    padding: 0;
    display: block;
    position: absolute;
    left: 5%;
    bottom: 2px;
    width: 90%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgba(0, 0, 0, .6);

}

.text a {
    color: #ffffff;
    font-size: 16px;
}

.content p {
    padding: 0 10px;
    font-size: 18px;
    text-align: justify;
}

.content .article-list-item-date {
    font-size: 12px;
    float: left;
    width: 30%;
    margin: 0 0 5px 0;
}

.content .button {
    color: #FFFFFF;
    text-transform: uppercase;
    background: none;
    float: left;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    display: none;
    cursor: pointer;
}

.content .button:hover {
    color: #3C3F41;
    background-color: #ffffff;
    transition: background-color .7s ease;
}

.article-list-item {
    margin-bottom: 20px;
}

.content .article-list-item-author {
    margin: 10px 0 0 0;
    font-size: 12px;
    float: left;
    width: 20%;
}

.article-list-item-img {
    width: 90%;
}

.tab_tags {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    text-align: right;
}

.tab_tags li:hover {
    color: #3C3F41;
    background-color: #ffffff;
    transition: background-color .7s ease;
}

.tab_tags ul {
    margin: 0;
    padding: 0;
}

.href {
    cursor: pointer;
}

/*контент*/

/*показать ещё*/
.trans {
    padding-bottom: 30px;
    padding-top: 8px;
    cursor: pointer;
    text-align: center;
    display: none;
}

.trans a {
    text-decoration: none;
    color: #3C3F41;
    padding: 12px;
}

.trans a:hover {
    color: #ffffff;
    background-color: #3C3F41;
    transition: background-color .7s ease;
}

/*показать ещё*/

/*для фиксации футера*/
html,
.wrapper {
    height: 100%;
}

.cont {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 167px;
}

/*для фиксации футера*/

/*футер*/
footer {
    background: #3C3F41;
    position: absolute;
    width: 100%;
    height: 165px;
    margin-top: -165px;
}

.footer {
    position: relative;
    max-width: 81.25%;
    height: 165px;
    margin: auto;
    color: #ffffff;
}

.logo-white {
    position: absolute;
    top: 30px;
    left: 0px;
    text-align: left;
    font-size: 14px;
}

.contacts {
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: right;
    margin: 0px;
}

.contacts p {
    font-size: 18px;
}

.contacts p.data {
    font-size: 14px;
}

/*футер*/

/*авторизация*/
.background-login-page {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form-login-page {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}

.form-login-page .input-login-page {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #ebebeb;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-login-page .button-login-page {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3C3F41;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    /*transition: all 0.3 ease;*/
    cursor: pointer;
}

.form-login-page button:hover {
    transition: background-color .3s ease;
    background: #737373;
}

.form-login-page .message, .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    text-align: center;
}

.form-login-page a, .form a {
    color: #3C3F41;
    text-decoration: none;
    cursor: pointer;
}

.form-login-page .incorrect-input, .form .error-edit, .form .error-add, .form .error-filter {
    margin: 11px 0 0;
    color: #c76f58;
    font-size: 11px;
    text-align: center;
}

/*авторизация*/

.add-news-button {
    position: absolute;
    top: 12px;
    width: 45px;
    height: 45px;
    right: 35px;
    text-align: right;
    display: none;
    cursor: pointer;
}

h2 {
    font-size: 1.65em;
}

#scrollUp {
    position: fixed;
    padding: 10px;
    opacity: 0.5;
    background: #aaa;
    border-radius: 5px;
    right: 2.8%;
    bottom: 2.8%;
    display: none;
    cursor: pointer;
    z-index: 10;
}

#scrollUp:hover {
    opacity: 0.3;
}

@media all and (max-width: 700px) {
    .article-list-item-summary {
        display: none;
    }

    .content {
        width: 100%;
    }

    .content .text {
        width: 100%;
        left: 0;
    }

    .article-list-item-img {
        width: 100%;
    }

    .header, .detail-view {
        width: 96%;
    }

    h2 {
        font-size: 1em;
    }

    .button, li, nav li {
        font-size: 0.8em;
    }

    .content .article-list-item-date, .content .article-list-item-author {
        font-size: 0.65em;
    }

    ul li, .content .button {
        padding: 4px 8px;
    }
}

@media all and (max-width: 1060px) {
    .filter-page, .edit-page, .add-page {
        margin-top: 159px;
    }

    .detail-view {
        margin-top: 183px;
    }

    .feed {
        margin-top: 129px;
    }
}